@import "tailwindcss";

@layer base {

  body {
    @apply bg-[#13151F];
  }

  /* --- GLOBAL SCROLLBAR STYLING --- */
  /* Menerapkan style scrollbar ke seluruh halaman (Chrome/Edge/Safari) */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #1a1d2e;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #34d399;
    border-radius: 10px;
    border: 2px solid #1a1d2e;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #6c5dd3, #00d4aa);
  }
}